<div class="container">
    <h2>Certificados</h2>
    @for(item of arrayCertificates(); track item) {
    <details>
        <summary>
            <div>
                <div>
                    <img src="assets/icons/certificate/certificate.svg" alt="" height="22" width="22" />
                </div>
                <div>
                    <p>
                        <strong>{{ item.summary.strong }}</strong>
                        {{ item.summary.p }}
                    </p>
                </div>
            </div>
        </summary>
        <article [innerHTML]="item.text"></article>
    </details>
    }
</div>